<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wh.abc_springboot_mybatis.mapper.user.UserMapper">



<resultMap type="com.wh.abc_springboot_mybatis.entity.user.User" id="UserResultMap">
    <id column="id" property="id"/>
    <result column="user_name" property="userName"/>
    <result column="password" property="password"/>
</resultMap>


 <!-- 保存一个Book -->
<insert id="insertUser" >
    insert into user  (user_name,password) select user_name,password from user1
</insert>


    <select id="findUser" resultMap="UserResultMap">
        select id,user_name,password from user
    </select>

</mapper>